# Análise do risco de inadimplência dos mutuários

O projeto visa elaborar um relatório para a divisão de empréstimos de um banco, para descobrir se o estado civil de um cliente e o número de filhos têm impacto sobre se ele deixará de pagar um empréstimo. O banco já tem alguns dados sobre a capacidade de crédito dos clientes.

O relatório será considerado ao criar uma **pontuação de crédito** de um cliente em potencial. A **contagem de crédito** é usada para avaliar a capacidade de um devedor em potencial de pagar seu empréstimo.

## Abra o arquivo de dados e veja as informações gerais.

Importando as bibliotecas e carregando os dados.

In [1]:
import pandas as pd

In [2]:
try:
    df = pd.read_csv('/datasets/credit_scoring_eng.csv')
except:
    df= pd.read_csv('/home/franco/Documentos/Dropbox/YA PY/credit_scoring_eng.csv')

In [3]:
print(df.info)

<bound method DataFrame.info of        children  days_employed  dob_years            education  education_id  \
0             1   -8437.673028         42    bachelor's degree             0
1             1   -4024.803754         36  secondary education             1
2             0   -5623.422610         33  Secondary Education             1
3             3   -4124.747207         32  secondary education             1
4             0  340266.072047         53  secondary education             1
...         ...            ...        ...                  ...           ...
21520         1   -4529.316663         43  secondary education             1
21521         0  343937.404131         67  secondary education             1
21522         1   -2113.346888         38  secondary education             1
21523         3   -3112.481705         38  secondary education             1
21524         2   -1984.507589         40  secondary education             1

           family_status  family_status_id gender income_type  debt  \
0                married                 0      F    employee     0
1                married                 0      F    employee     0
2                married                 0      M    employee     0
3                married                 0      M    employee     0
4      civil partnership                 1      F     retiree     0
...                  ...               ...    ...         ...   ...
21520  civil partnership                 1      F    business     0
21521            married                 0      F     retiree     0
21522  civil partnership                 1      M    employee     1
21523            married                 0      M    employee     1
21524            married                 0      F    employee     0

       total_income                  purpose
0         40620.102    purchase of the house
1         17932.802             car purchase
2         23341.752    purchase of the house
3         42820.568  supplementary education
4         25378.572        to have a wedding
...             ...                      ...
21520     35966.698     housing transactions
21521     24959.969        purchase of a car
21522     14347.610                 property
21523     39054.888        buying my own car
21524     13127.587             to buy a car

[21525 rows x 12 columns]>

## Tarefa 1. Exploração de dados

**Descrição dos dados**
- `children` - o número de crianças na família
- `days_employed` - experiência de trabalho em dias
- `dob_years` - idade do cliente em anos
- `education` - educação do cliente
- `education_id` - identificador de educação
- `family_status` - estado civil do cliente
- `family_status_id` - identificador de estado civil
- `gender` - gênero do cliente
- `income_type` - tipo de emprego
- `debt` - havia alguma dívida no pagamento do empréstimo
- `total_income` - renda mensal
- `purpose` - o objetivo de obter um empréstimo

 Vamos ver quantas linhas e colunas nosso conjunto de dados tem

In [4]:
(df.shape)

(21525, 12)

- *A tabela possui uma quantidade de dados consideráveis de linhas e colunas*

In [5]:
# vamos exibir as primeiras N linhas

df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding
5,0,-926.185831,27,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house
6,0,-2879.202052,43,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions
7,0,-152.779569,50,SECONDARY EDUCATION,1,married,0,M,employee,0,21731.829,education
8,2,-6929.865299,35,BACHELOR'S DEGREE,0,civil partnership,1,F,employee,0,15337.093,having a wedding
9,0,-2188.756445,41,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [7]:
df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,19351.000000
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,26787.568355
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,16475.450632
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,3306.762000
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,16488.504500
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,23202.870000
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,32549.611000
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,362496.645000

   *Obs sobre os dados:*

    *duplicatas óbvias (em bachelor) 
    *possiveis causa duplicatas: str Maiusculo e Minúsculo...  
    *Purpose tem muitas variação nos valores (falta uniform.)
    *days_employed: fora de padrão, confuso, val. negat (-)
    *income type: transf. p/ 'str'
    *Nan: total_incom, days_em
    *Children não poderia ter val. negativos.
    * valores com 0 em dob_years

   **Invetigação dos dados Nan:**

In [8]:
df_nan=df[df['days_employed'].isnull()]
df_nan

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Secondary Education,1,married,0,M,business,0,NaN,purchase of a car
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony
21497,0,NaN,48,BACHELOR'S DEGREE,0,married,0,F,business,0,NaN,building a property
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase

In [9]:
df.count()

children            21525
days_employed       19351
dob_years           21525
education           21525
education_id        21525
family_status       21525
family_status_id    21525
gender              21525
income_type         21525
debt                21525
total_income        19351
purpose             21525
dtype: int64

In [10]:
df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [11]:
df_na_soma= df[(df['total_income'].isnull()) &(df['days_employed'].isnull())]
df_na_soma.shape

(2174, 12)

- Tanto a coluna  `total_income` quanto `days_employed` tem o mesmo valor de null's, possivelmente pois um dado depende do ourtro (estão relacionados).

- ambas colunas com valores Nan tem (quase) o mesmo num. de ausentes, ja que os dads de total_income e days_employed estão relacionados*.

**Conclusão intermediária**

[O número de linhas na tabela filtrada corresponde ao número de valores ausentes? Que conclusão podemos tirar disso?]

In [12]:
len(df_nan['days_employed'])/ len(df['days_employed'])

0.10099883855981417

In [13]:
print('A porcentagem de linhas com valores ausentes é de : {:.0%}'.
        format(df_nan.shape[0]/df.shape[0]) )

A porcentagem de linhas com valores ausentes é de : 10%

A distribuição dos dados Nan é parecida, o que pode indicar que não teve nenhum padrao específico dos valores nulos (causa acidental é possivel).

In [14]:
df['total_income'].value_counts(normalize=True)

42413.096    0.000103
17312.717    0.000103
31791.384    0.000103
14427.878    0.000052
20837.034    0.000052
               ...
27715.458    0.000052
23834.534    0.000052
26124.613    0.000052
28692.182    0.000052
41428.916    0.000052
Name: total_income, Length: 19348, dtype: float64

In [15]:
df['days_employed'].value_counts(normalize=True)

-327.685916     0.000052
-1580.622577    0.000052
-4122.460569    0.000052
-2828.237691    0.000052
-2636.090517    0.000052
                  ...
-7120.517564    0.000052
-2146.884040    0.000052
-881.454684     0.000052
-794.666350     0.000052
-3382.113891    0.000052
Name: days_employed, Length: 19351, dtype: float64

In [16]:
df_nan['income_type'].value_counts(normalize=True)

employee         0.508280
business         0.233671
retiree          0.189972
civil servant    0.067617
entrepreneur     0.000460
Name: income_type, dtype: float64

**Conclusão intermediária**

- *A distribuição na tabela original e filtrada ficou muito próxima. Significa que os dados Nan são possivelmente aleatórios e podem ser substituidos por valores médios* .

In [17]:
df.columns

Index(['children', 'days_employed', 'dob_years', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose'],
      dtype='object')

In [18]:
calc_incom = df.pivot_table(index='income_type', values='days_employed', aggfunc='count')        
calc_incom

                             days_employed
income_type
business                              4577
civil servant                         1312
employee                             10014
entrepreneur                             1
paternity / maternity leave              1
retiree                               3443
student                                  1
unemployed                               2

Já que os dados Nan são possivelmente aleatórios, estes podem ser substituidos por valores médios .

*Existe um padrão nos dados Nan, que são possivelmente aleatórios e podem ser substituidos por valores médios.*

*Próximos passaos de dados: 
    
    -duplicatas óbvias (bachelor..); 
     -possiveis causa duplicatas: str Maiusculo e Minúsculo...
      -Purpose tem muitas variação nos valores (falta uniform.) 
    -days_employed: fora de padrão, confuso, val. negat (-) 
    -income type: transf. p/ 'str'

## Transformação de dados

Removendo duplicatas e corrigindo informações educacionais.

In [19]:
df['education'].unique()

array(["bachelor's degree", 'secondary education', 'Secondary Education',
       'SECONDARY EDUCATION', "BACHELOR'S DEGREE", 'some college',
       'primary education', "Bachelor's Degree", 'SOME COLLEGE',
       'Some College', 'PRIMARY EDUCATION', 'Primary Education',
       'Graduate Degree', 'GRADUATE DEGREE', 'graduate degree'],
      dtype=object)

In [20]:
df['education']=df['education'].str.lower()

In [21]:
df['education'].unique()

array(["bachelor's degree", 'secondary education', 'some college',
       'primary education', 'graduate degree'], dtype=object)

In [22]:
# Vamos aplicar várias condições para filtrar dados e observar o número de linhas na tabela filtrada.
print(df['education'].duplicated().sum())

21520

In [23]:
df.duplicated().sum()

71

In [24]:
df= df.drop_duplicates().reset_index(drop=True)

In [25]:
df.duplicated().sum()

0

In [26]:
# Vamos ver a distribuição de valores na coluna `children`
df['children'].value_counts()

 0     14091
 1      4808
 2      2052
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

       *Os valores são incompatíveis com as idades pretendidas, como -1 e 20, porém como se trata de um número muito pequeno de amostras (>1%), podemos considerar que foram acidentais. Como a quantidade de valores incorretos é muito baixa, os  mesmos podem ser substituidos por valores contidos nos valores '1' e '2' consecutivamente*

In [27]:
df['children'].replace({-1:1, 20:2},inplace= True)

In [28]:
df['children'].value_counts(normalize=True)

0    0.656801
1    0.226298
2    0.099189
3    0.015382
4    0.001911
5    0.000420
Name: children, dtype: float64

In [29]:
df['children'].value_counts()

0    14091
1     4855
2     2128
3      330
4       41
5        9
Name: children, dtype: int64

In [30]:
df['days_employed'].value_counts()

-327.685916     1
-1580.622577    1
-4122.460569    1
-2828.237691    1
-2636.090517    1
               ..
-7120.517564    1
-2146.884040    1
-881.454684     1
-794.666350     1
-3382.113891    1
Name: days_employed, Length: 19351, dtype: int64

In [31]:
df['days_employed'].describe()

count     19351.000000
mean      63046.497661
std      140827.311974
min      -18388.949901
25%       -2747.423625
50%       -1203.369529
75%        -291.095954
max      401755.400475
Name: days_employed, dtype: float64

In [32]:
df['days_employed']=df['days_employed'].abs()

In [33]:
df['days_employed'].describe()

count     19351.000000
mean      66914.728907
std      139030.880527
min          24.141633
25%         927.009265
50%        2194.220567
75%        5537.882441
max      401755.400475
Name: days_employed, dtype: float64

    Existe um número de dados, com valores demasiadamente grandes e valores negativos. O que se trata de um possível erro

    Podemos substituir os valores com problemas, pela mediana dos dados com mais de 70 dias trabalhados/ano.

In [34]:
df['days_employed'].isnull().sum()

2103

In [35]:
df_med_days= df[df['days_employed'] <= 70*365]['days_employed'].median()
df_med_days

1630.0193809778218

In [36]:
df.loc[df['days_employed'] > 70*365,'days_employed'] = df_med_days

In [37]:
(df['days_employed'] >=70*365).sum()

0

In [38]:
df['days_employed'].describe()

count    19351.000000
mean      2224.303043
std       2107.307642
min         24.141633
25%        927.009265
50%       1630.019381
75%       2747.423625
max      18388.949901
Name: days_employed, dtype: float64

In [39]:
df['dob_years'].sort_values().unique()

array([ 0, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75])

In [40]:
df['dob_years'].value_counts(normalize=True)

35    0.028713
40    0.028293
41    0.028200
34    0.028013
38    0.027827
42    0.027780
33    0.027081
39    0.026662
31    0.026056
36    0.025823
44    0.025403
29    0.025357
30    0.025030
37    0.024984
48    0.024984
50    0.023912
43    0.023865
32    0.023725
49    0.023679
28    0.023446
45    0.023119
27    0.022979
52    0.022560
56    0.022513
47    0.022234
54    0.022187
46    0.022001
53    0.021395
57    0.021255
58    0.021162
51    0.020789
59    0.020649
55    0.020649
26    0.019017
60    0.017433
25    0.016640
61    0.016500
62    0.016221
63    0.012538
24    0.012305
64    0.012119
23    0.011746
65    0.008996
22    0.008530
66    0.008483
67    0.007784
21    0.005174
0     0.004708
68    0.004615
69    0.003962
70    0.003030
71    0.002610
20    0.002377
72    0.001538
19    0.000653
73    0.000373
74    0.000280
75    0.000047
Name: dob_years, dtype: float64

    Valores negativos e zero são o problema da coluna. Função .abs lida com os valores negativos.

In [41]:
df['dob_years'].count()

21454

In [42]:
df.drop(df[df['dob_years']== 0].index,inplace=True)

In [43]:
(df['dob_years']==0).sum()

0

[Agora vamos verificar a coluna `family_status`. Veja que tipo de valores existem e quais problemas você pode precisar resolver.]

In [44]:
df['family_status'].value_counts()

married              12290
civil partnership     4130
unmarried             2794
divorced              1185
widow / widower        954
Name: family_status, dtype: int64

In [45]:

df['family_status'].isnull().sum()

0

[Agora vamos verificar a coluna `gender`. Veja que tipo de valores existem e quais problemas você pode precisar resolver]

In [46]:
# Vamos ver os valores na coluna
df['gender'].value_counts()

F      14102
M       7250
XNA        1
Name: gender, dtype: int64

In [47]:
df.drop(df[df['gender']== 'XNA'].index,inplace=True)

In [48]:
df['gender'].value_counts()

F    14102
M     7250
Name: gender, dtype: int64

In [49]:
df['gender'].isnull().sum()

0

In [50]:
# Vamos ver os valores na coluna
df['income_type'].value_counts()

employee                       11029
business                        5057
retiree                         3809
civil servant                   1451
unemployed                         2
entrepreneur                       2
paternity / maternity leave        1
student                            1
Name: income_type, dtype: int64

In [51]:
# Verificar duplicatas

df['income_type'].duplicated().sum()

21344

In [52]:
df = df.drop_duplicates().reset_index(drop=True)

In [53]:
df.duplicated().sum()

0

In [54]:
df.shape

(21352, 12)

[Descreva seu novo conjunto de dados: diga brevemente o que mudou e qual é a porcentagem das alterações, se houver.]

# Trabalhando com valores ausentes

    A coluna `education´ e 'family_status' podem ser utilizadas ja que possue uma quantidade pequena de classes

In [55]:
educ_dic= {0:"bachelor's degree", 1:"secondary education",2: "some college",3 :"primary education" } 
educ_dic

{0: "bachelor's degree",
 1: 'secondary education',
 2: 'some college',
 3: 'primary education'}

In [56]:
education_dic = df[['education_id', 'education']]
education_dic= education_dic.drop_duplicates().reset_index(drop=True)
education_dic

   education_id            education
0             0    bachelor's degree
1             1  secondary education
2             2         some college
3             3    primary education
4             4      graduate degree

In [57]:
education_dic.describe()

       education_id
count      5.000000
mean       2.000000
std        1.581139
min        0.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        4.000000

In [58]:
family_dic= {0:"married", 1:"civil partnership",2: "widow / widower",3 :"divorced", 4: "unmarried" }

In [59]:
family_dic = df[['family_status_id', 'family_status']]
family_dic= family_dic.drop_duplicates().reset_index(drop=True)
family_dic

   family_status_id      family_status
0                 0            married
1                 1  civil partnership
2                 2    widow / widower
3                 3           divorced
4                 4          unmarried

### Restaurar valores ausentes em `total_income`

    Para corrigir `dob_years`, podemos utilizar uma função que categoriza as idades, para utilizarmos posteriormente na substituição dos Nan.

In [60]:
df['dob_years'].describe()

count    21352.000000
mean        43.476817
std         12.241877
min         19.000000
25%         33.000000
50%         43.000000
75%         53.000000
max         75.000000
Name: dob_years, dtype: float64

In [61]:
def idade_func(age):
    if age <= 20:
        return 'menor que 20'
    if age <= 30:
        return 'entre 20 e 30'
    if age <= 50:
        return 'entre 30 e 50'
    return'maior que  50'

In [62]:
# Teste se a função funciona
print(idade_func(5))
print(idade_func(40))

menor que 20
entre 30 e 50

In [63]:
df['age_category']= df['dob_years'].apply(idade_func)

In [64]:
# Verificar como os valores na nova coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21352 entries, 0 to 21351
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21352 non-null  int64
 1   days_employed     19259 non-null  float64
 2   dob_years         21352 non-null  int64
 3   education         21352 non-null  object
 4   education_id      21352 non-null  int64
 5   family_status     21352 non-null  object
 6   family_status_id  21352 non-null  int64
 7   gender            21352 non-null  object
 8   income_type       21352 non-null  object
 9   debt              21352 non-null  int64
 10  total_income      19259 non-null  float64
 11  purpose           21352 non-null  object
 12  age_category      21352 non-null  object
dtypes: float64(2), int64(5), object(6)
memory usage: 2.1+ MB

In [65]:
df['age_category'].value_counts()

entre 30 e 50    10992
maior que  50     6644
entre 20 e 30     3651
menor que 20        65
Name: age_category, dtype: int64

In [66]:
df_not_nan=df.dropna()
df_not_nan.head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_category
0,1,8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,entre 30 e 50
1,1,4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase,entre 30 e 50
2,0,5623.422610,33,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house,entre 30 e 50
3,3,4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,entre 30 e 50
4,0,1630.019381,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,maior que 50

In [67]:
df_not_nan.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
age_category        0
dtype: int64

In [68]:
df_calculo_renda= df.groupby('income_type')['days_employed'].median()
df_calculo_renda

income_type
business                       1548.009883
civil servant                  2673.404956
employee                       1576.067689
entrepreneur                    520.848083
paternity / maternity leave    3296.759962
retiree                        1630.019381
student                         578.751554
unemployed                     1630.019381
Name: days_employed, dtype: float64

In [69]:

df_calculo_renda= df.groupby('income_type')['days_employed'].mean()
df_calculo_renda

income_type
business                       2112.744402
civil servant                  3388.508552
employee                       2328.603723
entrepreneur                    520.848083
paternity / maternity leave    3296.759962
retiree                        1630.019381
student                         578.751554
unemployed                     1630.019381
Name: days_employed, dtype: float64

In [70]:
tabe_pivo=df.pivot_table(index='income_type', columns= 'education',values='total_income', aggfunc='mean')

In [71]:
tabe_pivo

education,bachelor's degree,graduate degree,primary education,secondary education,some college
income_type,,,,,
business,38815.606164,NaN,26409.124931,28732.034349,31620.043969
civil servant,31617.948593,17822.757000,29449.016667,24664.297146,27596.312587
employee,30672.572883,31089.653667,21954.056075,24428.164389,27934.650356
entrepreneur,79866.103000,NaN,NaN,NaN,NaN
paternity / maternity leave,NaN,NaN,NaN,8612.661000,NaN
retiree,27332.427936,28334.215000,17810.387914,21069.410891,22129.937314
student,15712.260000,NaN,NaN,NaN,NaN
unemployed,32435.602000,NaN,NaN,9593.119000,NaN

In [72]:
df.pivot_table(index='education', values='total_income', aggfunc='mean')

                     total_income
education
bachelor's degree    33172.428387
graduate degree      27960.024667
primary education    21144.882211
secondary education  24600.353617
some college         29035.057865

In [73]:
df.pivot_table(index='gender', columns= 'education',values='total_income', aggfunc='mean')

education,bachelor's degree,graduate degree,primary education,secondary education,some college
gender,,,,,
F,30332.630701,29345.394,19118.479588,22677.456712,26484.617125
M,39026.494990,27267.340,23798.931664,28294.556582,33179.524066

In [74]:
df.pivot_table(index='gender',values='total_income', aggfunc='mean')

        total_income
gender
F       24664.752169
M       30905.772981

In [75]:
df.pivot_table(index='family_status', columns= 'purpose',values='total_income', aggfunc='mean')

purpose,building a property,building a real estate,buy commercial real estate,buy real estate,buy residential real estate,buying a second-hand car,buying my own car,buying property for renting out,car,car purchase,...,supplementary education,to become educated,to buy a car,to get a supplementary education,to have a wedding,to own a car,transactions with commercial real estate,transactions with my real estate,university education,wedding ceremony
family_status,,,,,,,,,,,,,,,,,,,,,
civil partnership,25888.902769,25702.899462,30140.791612,29161.823681,30635.498375,23887.215860,24428.492023,27561.056606,26902.800100,28977.558850,...,33879.184862,27526.247622,27456.573863,25951.324238,26519.200009,24243.290851,23550.547156,25402.239313,29436.488585,25924.189997
divorced,24012.554935,29695.398316,26156.118978,33017.785735,27729.504588,29399.801333,28034.842320,27591.512333,22858.374226,31362.027050,...,24611.933593,16523.209083,29841.814643,23426.709480,NaN,25263.689929,29095.423658,25814.705433,26712.288760,NaN
married,26824.015947,27053.633846,26765.285235,27667.313573,27809.168609,25826.592164,27197.417481,26326.552366,27992.272124,26239.836173,...,26357.576191,28430.214216,28084.867282,25415.650856,NaN,26389.027227,27542.700732,26586.139903,28153.717696,NaN
unmarried,26435.647701,27365.738630,25789.083614,27730.891365,25948.222011,29578.113672,25202.903250,26942.393494,29967.914902,26635.119529,...,25377.733435,26603.659264,28865.054286,25710.790564,NaN,23988.419019,27391.092371,27194.022775,26699.581527,NaN
widow / widower,22137.181333,22368.393595,23162.062171,21673.609462,21026.563100,18407.456957,22280.101050,28627.628520,20383.498393,21205.533571,...,19051.139300,23128.642000,20812.937318,22909.148864,NaN,21685.476357,26732.873000,21277.355968,22492.103808,NaN

In [76]:
df.pivot_table(index='family_status', columns= 'income_type',values='total_income', aggfunc='mean')

income_type,business,civil servant,employee,entrepreneur,paternity / maternity leave,retiree,student,unemployed
family_status,,,,,,,,
civil partnership,31908.776999,26354.229858,25651.536358,79866.103,NaN,22297.919497,NaN,32435.602
divorced,33885.358661,28640.609905,25942.453043,NaN,NaN,22042.152594,NaN,NaN
married,32804.544216,27471.878455,26044.880675,NaN,8612.661,21930.442886,NaN,9593.119
unmarried,31469.093368,28344.267050,25402.588556,NaN,NaN,22424.321427,15712.26,NaN
widow / widower,28739.370535,25404.091390,24114.164917,NaN,NaN,21188.980946,NaN,NaN

    As tabelas acima mostram que em relação as classes que possuem as maiores rendas média, se destacam as sedguintes: 
       -Pessoas do sexo M .
       -pessoas com 'income_type'  entrepreneur .
       -Pessoas com educação do tipo: `bachelor's degree`

In [77]:
total_income_table = df.pivot_table(index='income_type', values='total_income', aggfunc='median')

In [78]:
def fill_total_income(row):
    if pd.isna(row['total_income']):
        return total_income_table['total_income'][row['income_type']]
    return row['total_income']
df['total_income'] = df.apply(fill_total_income, axis=1)

In [79]:
# Verifique se temos algum erro

df['total_income'].isna().sum()

0

In [80]:
df['total_income'].shape

(21352,)

###  Restaurar valores em `days_employed`

[Pense nos parâmetros que podem ajudá-lo a restaurar os valores ausentes nesta coluna. Eventualmente, você desejará descobrir se deve usar valores médios ou medianos para substituir valores ausentes. Você provavelmente fará uma pesquisa semelhante à que fez ao restaurar dados em uma coluna anterior.]

In [81]:
df_calculo_dias= df.groupby('days_employed').mean()
df_calculo_dias

,children,dob_years,education_id,family_status_id,debt,total_income
days_employed,,,,,,
24.141633,1.0,31.0,1.0,0.0,1.0,26712.386
24.240695,0.0,32.0,0.0,4.0,0.0,19858.460
30.195337,2.0,47.0,1.0,1.0,0.0,37033.790
33.520665,0.0,43.0,1.0,4.0,1.0,20568.944
34.701045,1.0,31.0,0.0,0.0,0.0,14489.279
...,...,...,...,...,...,...
16119.687737,0.0,64.0,1.0,0.0,0.0,14644.430
16264.699501,0.0,59.0,1.0,0.0,0.0,8198.235
16593.472817,0.0,60.0,0.0,0.0,0.0,19951.655
17615.563266,0.0,61.0,1.0,0.0,0.0,19609.719
18388.949901,1.0,61.0,1.0,0.0,0.0,29788.629

In [82]:
df['days_employed'].describe()

count    19259.000000
mean      2224.912583
std       2107.977120
min         24.141633
25%        926.823974
50%       1630.019381
75%       2748.436594
max      18388.949901
Name: days_employed, dtype: float64

In [83]:
df_calculo_renda= df.groupby('days_employed')['total_income'].mean()
df_calculo_renda

days_employed
24.141633       26712.386
24.240695       19858.460
30.195337       37033.790
33.520665       20568.944
34.701045       14489.279
                  ...
16119.687737    14644.430
16264.699501     8198.235
16593.472817    19951.655
17615.563266    19609.719
18388.949901    29788.629
Name: total_income, Length: 15832, dtype: float64

     A princípio o melhor valor a se usar seria a mediana,  é a melhor opção pois ela nos da um valor mais justo ao preencher os valores nulos, ja que a distribuição dos dados se encontra próximo aos valores da média, em termos de representatividade .

In [84]:
purchase = df.groupby('days_employed')['total_income'].sum().mean()
purchase

32594.00011198837

In [85]:
def media_calc(df, groups_column, values_column):
    return df.groupby(groups_column)[values_column].median( )

In [86]:
# Aplicar função ao income_type

media_calc (df, 'income_type', 'days_employed')

income_type
business                       1548.009883
civil servant                  2673.404956
employee                       1576.067689
entrepreneur                    520.848083
paternity / maternity leave    3296.759962
retiree                        1630.019381
student                         578.751554
unemployed                     1630.019381
Name: days_employed, dtype: float64

In [87]:
df['days_employed'].fillna(media_calc, inplace = True)

In [88]:
df['days_employed'].isna().sum()

0

## Categorização de dados

Para responder às perguntas e testar as hipóteses vamos trabalhar com dados categorizados.

In [89]:
# Verifique os valores exclusivos
df['purpose'].unique()

array(['purchase of the house', 'car purchase', 'supplementary education',
       'to have a wedding', 'housing transactions', 'education',
       'having a wedding', 'purchase of the house for my family',
       'buy real estate', 'buy commercial real estate',
       'buy residential real estate', 'construction of own property',
       'property', 'building a property', 'buying a second-hand car',
       'buying my own car', 'transactions with commercial real estate',
       'building a real estate', 'housing',
       'transactions with my real estate', 'cars', 'to become educated',
       'second-hand car purchase', 'getting an education', 'car',
       'wedding ceremony', 'to get a supplementary education',
       'purchase of my own house', 'real estate transactions',
       'getting higher education', 'to own a car', 'purchase of a car',
       'profile education', 'university education',
       'buying property for renting out', 'to buy a car',
       'housing renovation', 'going to university'], dtype=object)

In [90]:
def categorize_purpose(row):
    if 'car' in row['purpose']:
        return 'car'
    if 'hous' in row['purpose'] or 'prop' in row['purpose'] or 'real est' in row['purpose']:
        return 'real estate'
    if 'wedd' in row['purpose']:
        return 'wedding'
    if 'educ' in row['purpose'] or 'uni' in row['purpose']:
        return 'education'

In [91]:
df['purpose_category'] = df.apply(categorize_purpose,axis=1)

 *-Para fazer a categorização serão utilizados 4 classes de valores, que foram obtidos pelo método describe, e que represantam uma distribuição representativa da % de classes de income* .

In [92]:
df['total_income'].describe()

count     21352.000000
mean      26457.353168
std       15727.807234
min        3306.762000
25%       17223.821250
50%       22815.103500
75%       31325.403250
max      362496.645000
Name: total_income, dtype: float64

In [93]:
def income_level(income):
       
    if  income<=17000 :
        return 'baixo'
    if  income<=22000 :
        return 'média'
    if  income<=31000 :
        return 'alto'
    if  income>31000 :
        return 'muito alto'

In [94]:
# Criar coluna com categorias

df['income_category'] = df['total_income'].apply(income_level)

In [95]:
df['income_category'].value_counts()

alto          6726
muito alto    5473
baixo         5190
média         3963
Name: income_category, dtype: int64

## Verificar as Hipóteses

**Existe uma correlação entre o nível de renda e do pagamento em dia?**

In [96]:
pivot_table_income_level = df.pivot_table(index='income_category',columns= 'debt', values='days_employed', aggfunc='count')

In [97]:
df['income_category']

0        muito alto
1             média
2              alto
3        muito alto
4              alto
            ...
21347    muito alto
21348          alto
21349         baixo
21350    muito alto
21351         baixo
Name: income_category, Length: 21352, dtype: object

In [98]:
pivot_table_income_level[1]

income_category
alto          581
baixo         408
muito alto    395
média         349
Name: 1, dtype: int64

In [99]:
pivot_table_income_level['percent_1'] = pivot_table_income_level[1]/(pivot_table_income_level[1] + pivot_table_income_level[0]) * 100

In [100]:
pivot_table_income_level

debt                0    1  percent_1
income_category
alto             6145  581   8.638121
baixo            4782  408   7.861272
muito alto       5078  395   7.217248
média            3614  349   8.806460

**Conclusão**

    -As taxa de inadiplência são similares para os niveis de renda, sendo que os maiores são as da renda média e alta, então esta correlação não traz muita informação relevante para uma correlação direta de renda x inad.

**Existe uma correlação entre o status familiar e o pagamento em dia?**

In [101]:
# Calcular a taxa de inadimplência com base no número de filhos

In [102]:
pivot_table_child = df.pivot_table(index='children', columns= 'debt', values='days_employed', aggfunc='count')

In [103]:
# Verifique os dados de status da família e do pagamento em dia

In [104]:
pivot_table_child['percent_1'] = pivot_table_child[1]/(pivot_table_child[1]+ pivot_table_child[0]) * 100

In [105]:
pivot_table_child

debt            0       1  percent_1
children
0         12963.0  1058.0   7.545824
1          4397.0   442.0   9.134119
2          1912.0   202.0   9.555345
3           301.0    27.0   8.231707
4            37.0     4.0   9.756098
5             9.0     NaN        NaN

Esta correlação ficou interessante pois mostra que pessoas sem filhos tem inadinplência menor.

In [106]:
# Calcular a taxa padrão com base no status da família

In [107]:
pivot_table_fami_stat = df.pivot_table(index='family_status', columns= 'debt', values='days_employed', aggfunc='count')

In [108]:
pivot_table_fami_stat['percent_1'] = pivot_table_fami_stat[1]/(pivot_table_fami_stat[1] + pivot_table_fami_stat[0]) * 100

In [109]:
pivot_table_fami_stat

debt                   0    1  percent_1
family_status
civil partnership   3743  386   9.348511
divorced            1100   85   7.172996
married            11363  927   7.542718
unmarried           2521  273   9.770938
widow / widower      892   62   6.498952

**Conclusão**

    A correlação na tabela `child` ficou interessante pois mostra que pessoas sem filhos tem inadinplência menor.  
    Esta correlação também trouxe informações interessantes, podemos ver que pessoas solteiras ou em união estável tem taxas maiores. 
    Outro dado interessante é que as viúvas tem as menores taxas.

**Existe uma correlação entre o status familiar e o pagamento em dia?**

**Como a finalidade do crédito afeta a taxa de inadimplência?**

In [110]:
pivot_table_purpose = df.pivot_table(index='purpose_category', columns= 'debt', values='days_employed', aggfunc='count')

In [111]:
pivot_table_purpose['percent_1'] = pivot_table_purpose[1]/(pivot_table_purpose[1] + pivot_table_purpose[0]) * 100

In [112]:
pivot_table_purpose

debt                 0    1  percent_1
purpose_category
car               3884  400   9.337068
education         3625  370   9.261577
real estate       9984  779   7.237759
wedding           2126  184   7.965368

**Conclusão**

    De princípio podemos notar que usos associados à imóveis possuem menor inadimplência.
    Automóveis e educação possuem maiores taxas.

    Entre os 4 parâmetros analissados, praticamente todos apresentaram correlaçoes que trazem informações valiosas sobre a inadimplência dos participantes. Com exceção do parâmetro 'income' que não forneceu correlações muito expressivas, ja que as pessoas de renda Alta e média possuem a maiores taxas, o que precisaria ser investigado com mais atenção, ja que não é a hipótese mais intuitiva em um primeiro olhar.